body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.select, #answers {
    width: 100%;
}

#answers {
    overflow-y: hidden;
    overflow-x: auto;
    text-align: center;
    border: 1px solid #485fc7;
    border-radius: 6px;
    color: black;
}

#answers input[type="radio"] {
    display: none;
  }
  
#answers span {
  display: block;
  padding: 10px;
  /* text-transform: uppercase; */
  border-radius: 3px;

  /* color: #485fc7; */
}

#answers input[type="radio"]:checked + span {
  background-color: #485fc7;
  color: white;
}
#answers input[type="radio"].correct + span {
  background-color: hsl(141, 71%, 48%)!important;
  color: white;
}
#answers input[type="radio"].wrong + span {
  background-color: hsl(348, 100%, 61%)!important;
  color: white;
}

#answers label {
  cursor: pointer;
}
#answers input[type="radio"]:not(:checked) + span:hover {
  background-color: #f7f7f7!important;
}